@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@model GradeManagement.Models.ForViews.StudentCourse

<div class="card">

    <div class="card-header">
        Ajouter un cours
    </div>

    <div class="card-body">
        <form asp-action="AddCourseToStudent">

            <label>Cours : </label>
            <select asp-for="@Model.CourseId">

            @foreach (var course in Model.CoursesList)
            {
                    <option value="@course.Id" >@course.Title</option>
            }
            </select>

            <br>
            <br>

            <label>Étudient : </label>
            <select asp-for="@Model.StudentId">

                @foreach (var student in Model.StudentsList)
                {
                    <option value="@student.Id">@student.FirstName @student.LastName</option>
                }
            </select>

            <br>
            <br>

            <label asp-for="@Model.Grade">Note obtenue : </label>
            <input type="number" asp-for="@Model.Grade" />
            <br>
            <br>

            <Button class="btn btn-outline-success" type="submit">Confirmer</Button>
        </form>
    </div>
</div>
